<!DOCTYPE html>
<html>
  <head>
    <title>Monika</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


      <!-- mobile settings -->
      <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
      <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

      <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

      <!-- WEB FONTS : use %7C instead of | (pipe) -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

      <!-- CORE CSS 
      <link href="smarty/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
      <%= stylesheet_link_tag "smarty/bootstrap.min.css" %>

      <!-- REVOLUTION SLIDER -->
      <%= stylesheet_link_tag "smarty/extralayers.css" %>
      <!--<link href="smarty/extralayers.css" rel="stylesheet" type="text/css" /> -->
      <%= stylesheet_link_tag "smarty/settings.css" %>

      <!-- THEME CSS -->
      <%= stylesheet_link_tag "smarty/essentials.css" %>
      <%= stylesheet_link_tag "smarty/layout.css" %>

      <!-- PAGE LEVEL SCRIPTS -->
      <%= stylesheet_link_tag "smarty/header-1.css" %>
      <%= stylesheet_link_tag "smarty/green.css" %>
      <!--<link href="smarty/header-1.css" rel="stylesheet" type="text/css" />
      <link href="smarty/green.css" rel="stylesheet" type="text/css" id="color_scheme" /> -->
      <!-- JAVASCRIPT FILE -->
      <script type="text/javascript">var plugin_path = '<%= "file://#{Rails.root.join('app','assets','plugins')}" %>';</script>
      <%= javascript_include_tag 'script' %>

      <%= csrf_meta_tags %>



  </head>

  <body>
       <%= render 'homepage/header' %>

    <%= yield %>
  </body>
</html>
  




